# normal ignores
.*
*~
*.[ao]
*.lo
*.so
tags
cscope.out
!.gitignore
!.travis.yml
!.github

# top-level ignores
/*.spec
/config
/config.mk
/cmus
/cmus-remote

# Cygwin stuff
*.exe
/cmus.base
/cmus.def
/cmus.exp
