body {
	background: #ffffff;
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	width: 53em;
}

#contents p {
	font-weight: bold;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 110%;
}

dt {
	color: #505050;
	font-weight: bold;
}

dd {
}

pre {
	background: #f0f0ff;
	padding: 1em;
	border: 1pt solid #a0a0f0;
}

table {
	border-collapse: collapse;
	width: 53em;
}

thead {
	background: #f0f0f0;
}

tbody {
	background: #f0f0ff;
}

th {
	border: 1pt solid #a0a0a0;
	padding: 4px;
}

td {
	border: 1pt solid #a0a0f0;
	padding: 3px;
}

.literal {
	color: #006000;
}

a {
	text-decoration: none;
}
