body {
	font-family: Verdana, sans-serif;
	margin: 1em;
}

h1 {
	font-size: 160%;
	text-align: center;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 110%;
}

a {
	text-decoration: none;
}

p {
	margin-left: 1em;
}

ul {
	margin-left: 0em;
}

code {
	color: green;
}

#main {
	margin-left: 3em;
}
